<ion-header>
  <ion-toolbar>
    <ion-title>Add New Car</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Make</ion-label>
    <ion-select [(ngModel)]="car.make" placeholder="Select One">
      <ion-select-option value="Perodua">Perodua</ion-select-option>
      <ion-select-option value="Proton">Proton</ion-select-option>
      <ion-select-option value="Mercedes">Mercedes</ion-select-option>
      <ion-select-option value="Toyota">Toyota</ion-select-option>
    </ion-select>
    </ion-item> 

    <ion-item>
      <ion-label position="floating">Model</ion-label>
      <ion-input [(ngModel)]="car.model"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Color</ion-label>
      <ion-input [(ngModel)]="car.color"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Price</ion-label>
      <ion-input [(ngModel)]="car.price"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="fixed">Image</ion-label>
      <ion-input [(ngModel)]="car.image"></ion-input>
    </ion-item>
  </ion-list>
  <div class="ion-padding">
    <img [src]="car.image"/>
  </div>

  <ion-button expand="block" (click)="addCar()">Submit</ion-button>
  
</ion-content>
